.box-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #fff;
  gap: 10px;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  overflow-y: scroll;
}

.box-values > p {
  border: 2px solid #ffffff38;
  border-radius: 8px;
  color: #fff;
  padding: 1em;
}

#sentinela {
  background-color: red;
}
