.experience {
  min-height: 100%;
  border: 5px solid black;
  color: var(--body_color);
}

.content-experience {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-experience-reports {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  border: 5px solid blue;
  height: 450px;
}

.content-experience-titulos {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.content-experience-titulos > h1 {
  margin-bottom: 16px;
  font-size: var(--size-title-small);
}

.ul-button-title-experience {
  border-left: 4px solid var(--body_color);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 8px 8px;
}

.ul-button-title-experience > li {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.button-title-experience {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--size-text-small);
  font-weight: bold;
  color: var(--body_color);
}

.button-title-experience:hover {
  color: var(--body_active-color);
}

.activeButton {
  color: var(--body_active-color);
}

.activeButton::before {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 50%;
  width: 120px;
  width: calc();
  height: 1px;
  background-color: var(--body_color);
}

.content-experience-relatos {
  width: 70%;
}

.content-experience-relatos > div > h2 {
  margin-bottom: 8px;
}

.content-experience-relatos > div > h3,
.content-experience-relatos > div > p {
  margin-bottom: 16px;
}

.content-experience-relatos > div > div > ul {
  border-top: 2px solid rgba(59, 59, 59, 0.384);
  border-bottom: 2px solid rgba(59, 59, 59, 0.384);
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-weight: bold;
}

.hiden-experience {
  display: none;
}

.content-technologies {
  border: 5px solid yellow;
  flex: 1;
}
