.experience {
  min-height: calc(100vh - var(--height-nav-bar));
  color: var(--body_color);
  padding: 52px 0;
}

.content-experience {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
}

.content-experience-titulos {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.content-experience-titulos > h1 {
  margin-bottom: 32px;
  font-size: var(--size-title-small);
}

.ul-button-title-experience {
  border-left: 4px solid var(--body_color);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 8px 8px;
}

.ul-button-title-experience > li {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.button-title-experience {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--size-text-medium);
  font-weight: bold;
  color: var(--body_color);
  text-align: start;
}

.button-title-experience:hover {
  color: var(--body_active-color);
}

.activeButton {
  color: var(--body_active-color);
}

.activeButton::before {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 50%;
  width: 100px;
  height: 1px;
  background-color: var(--body_color);
}

.content-experience-relatos {
  width: 70%;
}

.content-experience-relatos > div > h2 {
  margin-bottom: 8px;
  font-size: var(--size-text-large);
}

.content-experience-relatos > div > h3 {
  margin-bottom: 16px;
  font-size: var(--size-caption-small);
}

.content-experience-relatos > div > p {
  margin-bottom: 16px;
  font-size: var(--size-text-medium);
  line-height: var(--size-text-line-height-large);
}

.content-experience-relatos > div > div > ul {
  border-top: 2px solid rgba(59, 59, 59, 0.384);
  border-bottom: 2px solid rgba(59, 59, 59, 0.384);
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-weight: bold;
  font-size: var(--size-text-small);
}

.hiden-experience {
  display: none;
}

@media (max-width: 1400px) {
  .experience {
    padding: 16px 8px;
  }
}

@media (max-width: 1210px) {
  .content-experience-titulos > h1 {
    font-size: var(--size-text-large);
  }
  .activeButton::before {
    width: 20%;
  }
}

@media (max-width: 1060px) {
  .content-experience-titulos > h1 {
    font-size: var(--size-text-large);
  }
  .activeButton::before {
    width: 0;
  }
}

@media (max-width: 950px) {
  .content-experience {
    flex-direction: column;
    gap: 52px;
  }

  .content-experience-relatos {
    width: auto;
  }
}
