.screen-contents-projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  height: 100%;
}

.card-project-component {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--body_card_project);
  width: 350px;
  height: 350px;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
  padding: 8px;
  color: var(--body_color);
}

.card-project-component:hover {
  transform: scale(1.05);
  border: 1px solid rgba(255, 255, 255, 0.205);
}

.card-project-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
}

.card-project-text {
  padding-right: 2px;
  height: 200px;
  overflow-y: auto;
}

.card-project-text::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255, 255, 255, 0.192);
}

.card-project-text::-webkit-scrollbar-thumb {
  background-color: rgb(179, 178, 178);
  border-radius: 12px;
  width: 12px;
}

.card-project-text::-webkit-scrollbar:hover {
  width: 10px;
  background-color: rgba(107, 106, 106, 0.788);
}

.card-project-technologies {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card-project-technologies > li {
  font-size: var(--size-text-tiny);
  color: var(--body_font_color_transparent);
}

.card-project-images > img {
  width: 50px;
}

.card-project-images > a > img {
  width: 35px;
  transition: transform 0.3s ease-in-out;
}

.card-project-images > a > img:hover {
  transform: scale(1.05);
  background-color: white;
  border-radius: 50%;
  padding: 1px;
}
