.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--height-nav-bar);
  background-color: var(--navbar-color);
}

.items-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: var(--white-color);
  height: 100%;
  width: 100%;
}

.items-navbar > li {
  padding: 4px;
  border-radius: 8px;
}

.items-navbar > li:hover {
  background-color: #ffffff1c;
}

.items-navbar > li > a {
  list-style: none;
  text-decoration: none;
  color: var(--white-color);
  cursor: pointer;
}

.active {
  border: 1px solid red;
}
