.screen {
  max-height: calc(100vh - var(--height-nav-bar));
  height: 100vh;
}

.about-me {
  margin-top: var(--height-nav-bar);
}

.conteudos-screens {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--body_color);
}

.screen-secondary {
  background-color: var(--body_background_secondary);
}
