* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #242424;
  --white-color: #fff;
  --height-nav-bar: 48px;
  --navbar-color: #040c2c;
  --color-active: #e6bc05;
}

.app {
  background-color: var(--main-color);
  min-height: 100vh;
}
