.contact-screen-content {
  height: 100%;
  position: relative;
  color: var(--body_color);
}

.contact-screen-contacts {
  height: calc(100% - 40px);
  display: flex;
}

.container-form-contact {
  width: 50%;
}

.footer-component {
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-contacts-screen {
  width: 50%;
}

.icon-contacts-screen > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 100%;
}

.contact-option {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  gap: 8px;
}

.contact-option > p {
  color: var(--body_color);
}

.image-icons-contacts {
  width: 50px;
}
