.contact {
  min-height: calc(100vh - var(--height-nav-bar));
  color: var(--body_color);
  height: 100vh;
}

.contact-screen-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-screen-contacts {
  height: calc(100% - 40px);
  display: flex;
}

.container-form-contact {
  width: 50%;
}

.footer-component {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-contacts-screen {
  width: 50%;
}

.icon-contacts-screen > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 100%;
}

.contact-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  gap: 8px;
}

.contact-option > p {
  color: var(--body_color);
}

.image-icons-contacts {
  width: 50px;
}

@media (max-width: 1400px) {
  .contact-screen-content {
    padding: 32px 8px 0;
  }
}

@media (max-width: 1000px) {
  .contact-screen-content {
    gap: 52px;
  }

  .contact-screen-contacts {
    flex-direction: column-reverse;
    align-items: center;
    gap: 52px;
  }

  .icon-contacts-screen > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .icon-contacts-screen {
    width: 100%;
  }

  .container-form-contact {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .contact {
    height: auto;
  }
  .container-form-contact {
    width: 90%;
  }
}
